body {
    padding: 0;
    margin: 0;
    font-family: "Krona One", sans-serif;
    background-color: #021331;
    overflow-x: hidden;
}

#navbar {
    display: flex;
    justify-content: space-between; 
    padding: 0px; 
    height: 30vh;
    position: relative; 
}

#button {
    display: flex;
    height: 14vh;
    width: auto;
    justify-content: center; 
}

#logo {
    margin: 0px;
    height: 40vh; 
    width: auto; 
    object-fit: contain;
    z-index: 2;
}

#header {
    font-weight: 900;
    font-size: 5vw; 
    color: transparent;
    z-index: -1 !important;
    opacity: 31%;
    -webkit-text-stroke: 1px white;
    margin: 0;
    animation: slide 12s linear infinite;
    white-space: nowrap;
}

@keyframes slide {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-170%);
    }
}

#contact {
    margin: 20px;
    position: relative;
    height: 5vh; 
    width: auto; 
    cursor: pointer;
    background-color: transparent;
    opacity: 60%;
    border: 2px solid white;
    color: white;
    font-family: "Krona One", sans-serif;
    border-radius: 2px;
    z-index: 3;
    font-size: 1.2vw; 
    transition: all 0.4s ease;
}

#contact:hover {
    background-color: white;
    color: #021331;
    margin-right: 10px;
    border-radius: 10px;
    height: 6vh;
    width: 20vh;
    font-size: 1.1vw;
    opacity: 100%;
}

#firstRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    padding: 0 20px;
}

#illustration {
    width: 45%; 
    height: auto;
}

#textafterillustration h3 {
    color: white;
    font-size: 3vw;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#textafterillustration h1 {
    color: #58B141;
    font-size: 8vw; 
    margin-top: 0px;
    margin-left: 12px;
}

@media (max-width: 768px) {
    #logo {
        height: 30vh; 
    }
    #contact {
        margin: 10px;
        font-size: 2vw;
    }
    #contact:hover {
        height: 5vh;
        width: auto; 
        font-size: 2vw; 
        color: black;
        background-color: white;
    }
    #button {
        height: 10vh;
        width: auto;
    }
    #header {
        font-size: 7vw; 
    }
    @keyframes slide {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    #screenshot1 {
        margin-top: 10px !important ;
        flex-direction: column;
        align-items: center; 
    }

    #numering1 {
        margin: 0; 
        margin-top: 0px !important; 
        margin-bottom: 10px;
        width: 12vh !important;
        border-radius: 100px !important;
    }

    #Image1 {
        margin: 0;
        margin-top: 0px; 
    }

    #Imageandtext{
        align-items: center;
    }

    #Imageandtext h2 {
        text-align: center; 
        margin-top: 5px !important; 
    }
    #Image2{
        align: center;
        margin: 0 !important;
        margin-left: 125px !important;
    }
    #Imageandtext p{
        text-align: center;
    }
}

@media (max-width: 700px) {
    #logo {
        height: 28vh; 
    }

    #contact {
        position: absolute;
        top: 10px; 
        right: 10px; 
        margin: 0;
        height: 5vh;
        font-size: 2.5vw;
        z-index: 100; 
    }
    
    #contact:hover {
        height: 5vh;
        width: auto; 
        font-size: 2.5vw; 
        color: black;
        background-color: white;
    }
    
    #button {
        height: 12vh;
        width: auto;
        margin-right: 10px;
    }

    #header {
        font-size: 9vw; 
        width: auto;
    }

    #navbar {
        width: 100%;
        height: 20vh;
    }

    @keyframes slide {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}


#foursteps{
    font-weight: 900;
    font-size: 8vw; 
    color: transparent;
    opacity: 31%;
    font-weight:900;
    text-align: center;
    -webkit-text-stroke: 1px white;
    margin: 0;
    margin-top :20px;
    white-space: nowrap;
}

#screenshot1{
    display: flex;
    margin-top: 40px;
    height: 50vh;
    width: auto;
}
#numering1{
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 100px;
    height: 12vh;
    width: 24rem;
    border-radius: 0px 20px 20px 20px;
    background-color: #DA8F30;
    border: 2px solid white;
}
#numering1 h1{
    color: white;
    text-align: center;
    font-size: 5vh;
}


#Image2{
   height: 10vh;
   width: auto;
   margin-top: 10px;
   margin-left: 20px;


}
#Imageandtext p{
    color: grey;
    font-size: 2vh;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 5px;
}
#Imageandtext h2{
    margin-left: 20px;
    font-size: 4vh;
    font-weight: 300;
    color: white;
    margin-top:0px;
}

